{% extends '../layout.html' %}

{% block title %} {{ title }} {% endblock %}

    {% block content %} 
    <h1>Login Page</h1>
    {% if (messages.success)  %}
        <p>{{ messages.success }}</p>
    {% endif  %}  
    {% if (messages.error)  %}
        <p>{{ messages.error }}</p>
    {% endif  %}
    
    <form method="POST" action="/users/login">
        <table>
            <tr>
                <td>Email</td>
                <td>:&nbsp;<input type="email" name="email"/></td>
            </tr>
            <tr>
                <td>Password</td>
                <td>:&nbsp;<input type="password" name="password"/></td>
            </tr>
        </table>
        <button type="submit">Login</button>
    </form>
	{% endblock content %} 

